body {
            font-family: Arial, Verdana, sans-serif;
            font-size: 12pt;
            margin: 0;
            padding: 2px;
        }

        h1 {
            font-size: 150%;
            margin: 0 0 5px 0;
            padding: 0;
        }

        h2 {
            font-size: 100%;
            margin: 1px 0;
            padding: 0;
        }

        p {
            margin: 10px 0;
            padding: 4px;
        }

        p.ok {
            color: #FFFFFF;
            background-color: #009900;
        }


        p.warn {
            color: #000000;
            background-color: #FFFF00;
        }

        p.error {
            color: #FFFFFF;
            background-color: #CC0000;
            font-weight: bold;
        }

        p.attr {
            margin: 1px 0;
        }

        p.result {
            margin: 20px 0;
            font-size: 120%;
            font-weight: bold;
            border: 2px solid #000000;
        }

        code {
            font-family: "Courier New", monospace;
            font-weight: bold;
        }

        span.error {
            color: #CC0000;
            background-color: inherit;
            font-weight: bold;
        }

        span.indent {
	        margin-left: 15px;
	    }

        table {
            border: 1px solid #000000;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
        }

    tr {
        width: 100%;
    }
        td, th {
            border: 1px solid #000000;
            vertical-align: top;
            text-align: left;
            margin: 0;
            padding: 4px;
        }

        th {
            font-weight: bold;
            font-size: 110%;
            color: #FFFFFF;
            background-color: transparent;
        }

        .header {
            color: inherit;
            background-color: #707677;
        }

        .even {
            color: inherit;
            background-color: #E7E7E7;
        }

        .odd {
            color: inherit;
            background-color: #CFCFCF;
        }